<template name="revisions">
    <div class="panel panel-default">
        <div class="panel-heading" style="position:relative">
            <h3 class="panel-title">
                Revisions
            </h3>
        </div>
        <div class="panel-body">
            {{#if iAmAllowedToBrowseThisDoc}}
              {{> reactiveTable collection=revisions settings=tableSettings}}
            {{else}}
              <p>{{_ "You are not allowed to view this page"}}</p>
            {{/if}}
        </div>
    </div>
</template>
