<template name="searchTpl">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">
			 	<div class="panel-heading" style="position:relative">
			 		<h3 class="panel-title">
						{{_ "Search"}}
						<a class="pull-right" href="http://rationalk.ch/doc#search" target="_blank" title="{{_ 'Open help in a new window'}}"><span class="glyphicon glyphicon-info-sign"></span></a>
					</h3>
				</div>
				<div class="panel-body">
					<form class="form-inline searchForm" role="form">
						<div class="form-group">
							<div class="input-group">
								<input autocomplete="off" spellcheck="off" data-source="tags" id="keywords" name="searchQuery" class="form-control keywords typeahead" placeholder="{{_ 'Search text'}}" size="24">
							</div>
						</div>
						<!--
  					<div class="checkbox includeSynonymsInResults-checkbox">
							<label>
								<input type="checkbox" checked="{{includeSynonymsInResults}}" id="includeSynonymsInResults-checkbox"> {{_ "Include Synonyms"}}
							</label>
  					</div>
						-->
						<div class="form-group">
								<div class="input-group">
									<select class="form-control" id="catFilter">
										<option value="all">{{_ "All categories"}}</option>
										{{#each Categories}}
											<option value="{{_id}}">{{name}}</option>
										{{/each}}
									</select>
								</div>
						</div>
						<div class="form-group">
								<div class="input-group">
									<select class="form-control" id="searchType">
										<option value="regexpSearch">{{_ "Classic search"}}</option>
										<option value="fullTextSearch">{{_ "Full text search"}}</option>
									</select>
								</div>
						</div>
						<div id="includeWalkedFilesInResultsDiv" class="checkbox includeWalkedFilesInResultsCheckbox">
							<label>
								<input type="checkbox" checked="{{includeWalkedFilesInResults}}" id="includeWalkedFilesInResultsCheckbox"> {{_ "Include Windows files"}}
							</label>
  					</div>
						{{#if hasTemplate "webInSearchResults"}}
							{{> webInSearchResultsCheckbox}}
						{{/if}}

  					<button type="submit" class="btn btn-primary search">{{_ "Search"}}</button>

						<div class="checkbox highlight-checkbox">
							<label>
								<input type="checkbox" checked="{{highlightResults}}"> {{_ "Highlights results"}}
							</label>
  					</div>
						{{#if nResults}}
				     	<div class="form-group pull-right">
								<div class="input-group">
									<p>{{_ "Number of results"}} : {{nResults}}</p>
								</div>
				     	</div>
				     {{/if}}

					</form>
						<hr/>
						<div id="resultsContent" class="results-wrapper">
		        			{{#each searchResults}}
										<div class="post">
				        				{{#if fields}}
				        					{{>docInSearchResults}}
				        				{{/if}}
												{{#if hasTemplate "trelloCardInSearchResults"}}
													{{#if boardName}}
														{{>trelloCardInSearchResults}}
													{{/if}}
											  {{/if}}
												{{#if hasTemplate "corePFMEAInSearchResults"}}
													{{#if searchResultFromCorePFMEA}}
														{{>corePFMEAInSearchResults}}
													{{/if}}
											  {{/if}}
												{{#if text}}
				        					{{>filesContentInSearchResults}}
				        				{{/if}}
				        				{{#if message}}
													{{>messageInSearchResults}}
												{{/if}}
												{{#if subject}}
													{{>discussionInSearchResults}}
												{{/if}}
												{{#if path}}
													{{>fileInSearchResults}}
												{{/if}}
												{{#if content}}
													{{>noteInSearchResults}}
												{{/if}}
												{{#if fieldOfExpertise}}
													{{>expertInSearchResults}}
												{{/if}}
												{{#if externalDocId}}
													{{>externalInSearchResults}}
												{{/if}}
			        			</div>
									{{else}}
										{{#if webSearchResults.count}}

										{{else}}
											{{messageOnNoResult}}
										{{/if}}
									{{/each}}
								{{#if hasTemplate "webInSearchResults"}}
									{{#if webSearchResults.count}}
											{{#each webSearchResults}}
												<div class="post">
													{{> webInSearchResults}}
												</div>
											{{/each}}
									{{/if}}
								{{/if}}
					</div>
        		</div>
    		</div>
		</div>
	</div>
</template>
