<template name="loginLayout">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
				          <div class="panel-body">
					               <h1>rationalK, {{_ "the Knowledge Management Tool"}}</h1>
				           </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
                  <div class="panel-body">
                      <span class="pull-right"><a href="#" class="setLanguage" data-locale="en"><img src="/famfamfam/gb.png"/></a> <a href="#" class="setLanguage" data-locale="fr"><img src="/famfamfam/fr.png"/></a> <a href="#" class="setLanguage" data-locale="de"><img src="/famfamfam/de.png"/></a></span>
                   </div>
            </div>
          </div>
        </div>
        <div class="row">
	        <div class="col-md-12">
	            <div class="panel panel-default">
			        <div class="panel-body">
				        <form id="login-form-2">
                  {{#if onDemo}}
                  <div class="form-group">
      							<p>To login as admin : Email : demo-admin@rationalk.ch / Password : demo-admin</p>
      							<p>To login as user : Email : demo-user@rationalk.ch / Password : demo-user</p>
                  </div>
      						{{/if}}
						    <div class="form-group">
							    <label for="login-email-2">Email</label>
						    	<input type="email" class="form-control" id="login-email-2" />
                  <p class="help-block">{{_ "helper_email_login"}}</p>
						    </div>
						    <div class="form-group">
							    <label for="login-password-2">{{_ "Password"}}</label>
						      <input type="password" class="form-control" id="login-password-2" />
                  <p class="help-block">{{_ "helper_password_login"}}</p>
						    </div>
								<button type="submit" class="btn btn-primary" id="login-button-2">{{_ "Sign in"}}</button> <small><a href="#" class="forgotPassword">{{_ "I have forgotten my password"}}</a></small>
			   			</form>
			        </div>
		    	</div>
	        </div>
        </div>

        {{#if showFooter}}
      		<div id="footer" class="row-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
	                <p>&copy; rationalK. Hotline : +4176 817 33 46 / info@rationalk.ch</p>
                </div>
            </div>
          </div>
        {{/if}}
    </div>
</template>
