<template name="fileView">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">
				 	<div class="panel-heading" style="position:relative">
				 		<h3 class="panel-title">{{_ "Files"}} <a class="pull-right" data-toggle="collapse" href="#helpFiles" title="{{_ 'Help'}}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-info-sign"></span></a>  <a href="#" class="walkThruFolders pull-right" title="Scan all folders"><span class="glyphicon glyphicon-refresh"></span></a></h3>
						<div class="collapse" id="helpFiles">
	            <p><span class="glyphicon glyphicon-info-sign"></span> : Please wait after clicking the refresh button.</p>
	          </div>
	        </div>
					<div class="panel-body">
						<p>Hello</p>
						<canvas id="pdfcanvas"></canvas>
	        </div>
	    	</div>
		</div>
	</div>
</template>
