.idea/
.DS_Store
rationalK/
*.tar.gz
packages/rationalk-lib
packages/rationalk-core
packages/rationalk-erp
packages/rationalk-trello
packages/rationalk-ppm
packages/rationalk-fmea
packages/rationalk-cse
packages/rationalk-checklists
packages/rationalk-experts
packages/rationalk-discussions
packages/rationalk-wikisearch
packages/rationalk-tasks
