<template name="projects">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">
			 	<div class="panel-heading" style="position:relative">
			 		<h3 class="panel-title">Projects</h3>
        		</div>
				<div class="panel-body">
					{{#each Projects}}
		        		<div class="post">
			        		{{title}} (project folder : {{folderpath}}) <a href="{{pathFor 'project' _id=this._id}}" title="Open this project"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> <a class="delete" href="#" title="Delete this project"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			        	</div>
					{{else}}
						<p>There is nothing to show for the moment.</p>
		        	{{/each}}			        			
        		</div>
    		</div>
		</div>
	</div>
		<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">
			 	<div class="panel-heading" style="position:relative">
			 		<h3 class="panel-title">Add a project</h3>
        		</div>
				<div class="panel-body">		
					<form>
				        <div class="form-group">
					        <div class="form-group">
								<label for="projectTitle">Project Title</label>
								<input type="text" class="form-control" name="projectTitle" id="projectTitle" placeholder="Project Title">
  							</div>
					    </div>
					    <div class="form-group">
					        <div class="form-group">
								<label for="projectTitle">Project folder path</label>
								<input type="text" class="form-control" name="projectFolderPath" id="projectFolderPath" placeholder="//server/myproject">
  							</div>
					    </div>
					    <button type="submit" class="btn btn-primary">Save</button>
				    </form>
        		</div>
    		</div>
		</div>
	</div>
</template>