<template name="rKRoles">
  <div class="panel panel-default">
    <div class="panel-heading" style="position:relative">
      <h3>{{_ "Create a role"}}</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form" id="roleForm">
          <div class="form-group">
              <label for="roleName">{{_ "Role name"}}</label>
              <input class="form-control" name="roleName" type="text" value="" placeholder="{{_ 'Role name'}}"/>
          </div>
          <div class="form-group">
              <input type="submit" value="{{_ 'Create a role'}}" class="btn btn-primary"/>
          </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" style="position:relative">
      <h3>{{_ "Edit roles"}}</h3>
    </div>
    <div class="panel-body">
      <div class="panel-body">
        {{#each Roles}}
        <form class="main editForm" role="form">
          <input type="hidden" name="roleId" value="{{_id}}">
          <div class="form-group">
            <p>{{roleName}}</p>
            {{#each cat}}
              <div class="checkbox">
                <label>
                <input type="checkbox" value="{{_id}}" name="categorie" checked="{{thisCategoryIsAllowedForThisRole}}"> {{name}}
                </label>
              </div>
            {{/each}}
          </div>
          <div class="form-group">
              <input type="submit" value="{{_ 'Save'}}" class="btn btn-primary"/> <a href="#" id="deleteRole" data-roleid="{{_id}}">{{_ 'Delete role'}}</a>
          </div>
        </form>
        {{/each}}
        <!--
        {{> reactiveTable collection=Roles settings=rolesSettings}}
        -->
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" style="position:relative">
      <h3>{{_ "Add roles to members"}}</h3>
    </div>
    <div class="panel-body">
      <div class="panel-body">
        {{#each myMembers}}
        <form class="main editMemberForm" role="form">
          <input type="hidden" name="memberId" value="{{_id}}">
            <div class="form-group">
            <p>{{profile.nickname}} ({{email}})</p>
            {{#each rolesForThisMember}}
              <div class="checkbox">
                <label>
                <input type="checkbox" value="{{_id}}" name="role" checked="{{thisRoleIsAllowedForThisMember}}"> {{roleName}}
                </label>
              </div>
            {{/each}}
          </div>
          <div class="form-group">
              <input type="submit" value="{{_ 'Save'}}" class="btn btn-primary"/>
          </div>
        </form>
        {{/each}}
      </div>
    </div>
  </div>
</template>
