<template name="attributes">
    <link rel="stylesheet" type="text/css" href="/loudev/css/multi-select.css">

    <div class="form-group">
            <a href='#' id='select-all'>All</a> ↔ <a href='#' id='select-none'>None</a>

            <select class="form-control" id="attributes" name="attributes" multiple="multiple">
                {{#each attributes}}
                    <option value="{{.}}">{{.}}</option>
                {{/each}}
            </select>
    </div>

    <script>
        $('#attributes').multiSelect({
            selectableHeader: "<div class='custom-header'>Selectable items</div>",
            selectionHeader: "<div class='custom-header'>Selection items</div>",
            selectableFooter: "<div class='custom-header'>Selectable footer</div>",
            selectionFooter: "<div class='custom-header'>Selection footer</div>"
        });
    </script>
</template>