<template name="viewNew">
    <form class="main" role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" type="text" value="" placeholder="Name"/>
        </div>

        <hr>

        {{> attributes }}

        <!--<script>-->
            <!--$('#attributes').multiSelect('select', ["teacher"]);-->
        <!--</script>-->

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>
</template>
