<template name="orgs">
    <div class="panel panel-default">
        <div class="panel-heading" style="position:relative">
            {{#if currentUser}}
                <div class="control-group" style="position:absolute; top:3px; right:3px;">
                        <a class="btn btn-success btn-sm submit" href="{{pathFor 'orgNew'}}">+</a>
                </div>
            {{/if}}

            <h3 class="panel-title">
                <a href="{{pathFor 'orgs'}}">Orgs</a>
            </h3>
        </div>

        <div class="money panel-body">
            {{#each orgs}}
                {{> org}}
            {{/each}}
        </div>
    </div>
</template>

<template name="org">
    <div class="post">
        <div class="post-content">
            <h3>{{subdomain}}: {{name}} {{email}}</h3>
            <p>{{location}}</p>
        </div>
        <a class="discuss btn btn-danger delete" href="#">x</a>
    </div>
</template>