<template name="licenseError">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <p>Your license is not valid anymore, you should contact your administrator</p>
        </div>
        <div class="col-md-4">
          <center>
            <a href="#" id="refreshLicense" class="refreshLicense" title="Refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="font-size:48px;"></span></a>
          </center>
        </div>
        <div class="col-md-4">
          <textarea rows="4" cols="50" id="refreshLicenseResult">{{refreshLicenseResult}}</textarea>
        </div>
      </div>
    </div>
  </div>
</template>
