<template name="calculation">
    <div class="row">
  	  <div class="col-md-12">
  		   <div class="panel panel-default">
  		   		<div class="panel-heading" style="position:relative">
  		   			<h3 class="panel-title">{{_ "Calculation"}}</h3>
          	</div>
  				  <div class="panel-body">
  					       {{#each Products}}
                   <p>Designation : {{Designation}}</p>
                   <p>ID : {{ID}}</p>
                   <p>weightBeforeTurning AE : {{weightBeforeTurning.AE}}</p>
                   <p>weightBeforeTurning AI : {{weightBeforeTurning.AI}}</p>
                   {{/each}}
  				  </div>
  		   </div>
  	  </div>
    </div>
</template>
