<template name="stats">
	<div class="row">
		<div class="col-md-12">
			 <div class="panel panel-default">
			 	<div class="panel-heading" style="position:relative">
			 		<h3 class="panel-title">Statistics</h3>
        		</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
							 	<div class="panel-heading" style="position:relative">
							 		<h3 class="panel-title">{{_ "Number of docs per category"}}</h3>
				        </div>
								<div class="panel-body">
										{{docStats}}
				        </div>
				    	</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
							 	<div class="panel-heading" style="position:relative">
							 		<h3 class="panel-title">Stats</h3>
				        </div>
								<div class="panel-body">
										{{queriesStats}}
				        </div>
				    	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							 <div class="panel panel-default">
							 	<div class="panel-heading" style="position:relative">
							 		<h3 class="panel-title">Default Chart 1</h3>
				        		</div>
								<div class="panel-body">
									{{> highchartsHelper chartId="chart1" chartWidth="100%" charHeight="100%" chartObject=categorydistributionChart}}
				        		</div>
				    		</div>
						</div>
						<div class="col-md-6">
							 <div class="panel panel-default">
							 	<div class="panel-heading" style="position:relative">
							 		<h3 class="panel-title">Default Chart 2</h3>
				        		</div>
								<div class="panel-body">
										{{> highchartsHelper chartId="chart2" chartWidth="100%" charHeight="100%" chartObject=logsChart}}
				        		</div>
				    		</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							 <div class="panel panel-default">
							 	<div class="panel-heading">
							 		<h3 class="panel-title pull-left" style="padding-top: 8px;">Search Queries</h3>
							 		<div class="btn-group pull-right">            
                               <button id="clear" type="button" class="btn btn-primary">Clear</button>
                           </div>
                           <div class="clearfix"></div>
				            </div>
								<div class="panel-body">
									{{> reactiveTable collection=SearchQueries settings=settingsSearchQueries}}
				    		   </div>
							</div>
						</div>
					</div>
				</div>
    		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
					<div class="panel-heading" style="position:relative">
						<h3 class="panel-title">{{_ "Tags"}} <a href="#" class="analyseTags pull-right" title="{{_ 'Analyse tags'}}"><span class="glyphicon glyphicon-refresh"></span></a></h3>
						</div>
				<div class="panel-body">
					{{> reactiveTable collection=tags settings=settingsTags}}
				</div>
			</div>
		</div>
	</div>
</template>
