<template name="axapta">
    <div class="row">
  	  <div class="col-md-12">
  		   <div class="panel panel-default">
  		   		<div class="panel-heading" style="position:relative">
  		   			<h3 class="panel-title">
                {{_ "My Space"}} - <span class='glyphicon glyphicon-star' aria-hidden='true'></span>
              </h3>
          	</div>
    				<div class="panel-body">
    					 {{> reactiveTable collection=Axapta settings=settingsAxapta}}
    				</div>
  		   </div>
  	  </div>
    </div>
</template>
