<template name="resetPassword">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
            <div class="panel-body">
                <span class="pull-right"><a href="#" class="setLanguage" data-locale="en"><img src="/famfamfam/gb.png"/></a> <a href="#" class="setLanguage" data-locale="fr"><img src="/famfamfam/fr.png"/></a> <a href="#" class="setLanguage" data-locale="de"><img src="/famfamfam/de.png"/></a></span>
             </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <div class="panel panel-default">
           <div class="panel-heading" style="position:relative">
             <h3 class="panel-title">{{_ "Welcome"}} !</h3>
            </div>
        <div class="panel-body">
          <p>{{_ "Hello"}} {{profile.name}}, {{_ "invitation_to_join"}}</p>
        </div>
       </div>
    </div>
  </div>

  <form class="main" role="form">
      <div class="form-group">
          <label for="password">{{_ "Password"}}</label>
          <input class="form-control" name="password" type="password" value="" placeholder="{{_ 'Password'}}"/>
      </div>

      <div class="form-group">
          <label for="password2">{{_ "Retype your password"}}</label>
          <input class="form-control" name="password2" type="password" value="" placeholder="{{_ 'Retype your password'}}"/>
      </div>

      <div class="form-group">
          <input type="submit" value="Reset my password" id="join" class="btn btn-primary submit"/>
      </div>
  </form>
</template>
